/* Overrides for new Toshiba Web Site Shell */
body, div, p, a, li { font-size: 1em; line-height: 1.4em; }
body, div, p, li { color: inherit; }
b { font-weight: bold; }
a:link, a:visited { color: #00447C; }
table, tr, th, td { border-collapse: separate !important; vertical-align: top; }
li.last a.arrow { top: auto; }
#Cust-Links a, #Segment-Nav a { line-height: 15px; }
/*.sub-nav li, .sub-nav li a { font-size: 12px; line-height: 14px; }*/
/*.main-nav .level-1 > a { line-height: 16px; }*/
/*.sub-nav li a:hover { color: #c00; }*/
/*.main-nav .level-1 > a:hover,*/
/*.sub-nav li a:hover { text-decoration: none; }*/
/*#Search-Nav #search_query { top: 0; height: auto; left: 0; }*/
.outerwrap { position: relative; min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -232px;}
#breadcrumb .user { float: right; padding-right: 20px; }
#breadcrumb .user .top-permission{ font-style:italic; }
#breadcrumb .user p { float: left; font-size: 78%; font-weight: 400; }
#breadcrumb .arrow { font-weight: normal; }
#Search-Input input, #Sign-Up input { font-size: 13px; line-height: 15px; }
.input_position { float: left; position: relative; }
.input_position input[type="text"], .input_position input[type="password"], .input_position input[type="email"], .input_position input[type="number"] { margin-bottom: 0; }
#Sitemap-Text-Links li, #Sitemap-Text-Links li a, .sitemap-category, .sitemap-category a { font-size: 12px; line-height: 14px; }
#Security-Icons a { display: block; float: left; }
.floatnav { top: 90px; }
#Site-Feedback-Btn { font-size: 12px; line-height: 12px; }
.features .inwrap li a.arrow { top: 0; }
#getWarrantyInfoBtn { top: 21px; }
#Segment-Nav .label { display: block; float: left; font-size: 13px; padding-top: 4px; }
#Search-Btn input { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;}
#manualsSpecsDiv .input_position {float:none;margin-bottom:10px}
#manualsSpecsDiv .view_inst {width:250px}
#manualsSpecsDiv .button_pusher {margin-top:80px}
#manualsSpecsDiv .form_column_wide1 {width:250px}
.toshibaLogoDark { float: left; padding-left: 75px; padding-right: 40px;}

#Page-Footer #Sitemap { height: 210px; }
body #Page-Footer, body #Push { height: 249px; }  
body .page-wrapper { margin: 0 auto -249px; } 


/*
    /!* sub nav widths *!/
#Level-3-Nav #Link-1 .sub-nav { width: 613px; left: 0; /!* IE7 *!/ *width: 604px; }
#Level-3-Nav #Link-2 .sub-nav { width: 258px; left: 0; }
#Level-3-Nav #Link-3 .sub-nav { left: -369px; width: 826px;/!* IE7 *!/ *width: 841px; } :root #Level-3-Nav #Link-3 .sub-nav { /!* IE9 *!/ width: 845px \9; left: -378px \9; } .mac_os #Level-3-Nav #Link-3 .sub-nav { width: 838px; left: -377px; }
#Level-3-Nav #Link-4 .sub-nav { width: 730px; right: -263px; /!* IE7 *!/ *width: 740px; *right: -263px; } :root #Level-3-Nav #Link-4 .sub-nav { /!* IE9 *!/ right: -248px \9; } .mac_os #Level-3-Nav #Link-4 .sub-nav { right: -250px; }
#Level-3-Nav #Link-5 .sub-nav { width: 356px; right: -114px; /!* IE7 *!/ *width: 350px; *right: -114px; } :root #Level-3-Nav #Link-5 .sub-nav { /!* IE9 *!/ width: 365px \9; right: -96px \9; } .mac_os #Level-3-Nav #Link-5 .sub-nav { right: -99px; width: 365px; }
#Level-3-Nav #Link-6 .sub-nav { width: 640px; right: -18px; /!* IE7 *!/ *width: 653px; } :root #Level-3-Nav #Link-6 .sub-nav { /!* IE9 *!/ width: 645px \9; right: 1px \9; } .mac_os #Level-3-Nav #Link-6 .sub-nav { right: -2px; }
#Level-3-Nav #Link-4 #For-Laptops { width: 255px; }             
.sub-nav li.l { float: left; width: 100px;  clear: both; }
.sub-nav li.r { float: left; width: 100px; }  
*/

/* UTC styles to Support - SM */
/*    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        text-decoration: none;
    }*/
/*    body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td {
        margin: 0;
        padding: 0;
    }*/
#Header {
    height: 92px;
    border-bottom: 1px solid #000;
    background: #b60000;
    background: -moz-linear-gradient(top,  #b60000 0%, #7a0000 100%);
    background: -webkit-linear-gradient(top,  #b60000 0%,#7a0000 100%);
    background: linear-gradient(to bottom,  #b60000 0%,#7a0000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b60000', endColorstr='#7a0000',GradientType=0 );
    font: normal 12px/14px Arial,sans-serif;
    color: #333;
}
/*    ol, ul {
        list-style: none;
    }*/
/*    body, html, p, q, th, td, dt, dd, ul, li, address, a, label {
        font: normal 12px/14px Arial,sans-serif;
        color: #333;
    }*/
/*    a, a:link, a:visited, a:hover, a:active {
        font-size: 1em;
        text-decoration: none;
        color: #00447c;
    }*/
/*    body {
        background: url(/images/showcase/ui/nav/body-bg.jpg) no-repeat center top;
        position: relative;
    }
    body {
        background: none;
    }*/
/*    .clearthis {
        display: inline-block;
    }
    .clearthis {
        display: block;
    }
    .clearthis::after {
        content: ".";
        display: block;
        height: 0px;
        clear: both;
        visibility: hidden;
    }*/
#Header > div {
    width: 980px;
    margin: 0 auto;
    position: relative;
}
#Toshiba-Logo {
    display: block;
    float: left;
    padding-top: 27px;
    width: 145px;
}
#Main-Nav {
    float: right;
    position: relative;
}
#Main-Nav #Nav-Row-2 {
    margin-top: 16px;
    position: relative;
}
#Main-Nav .cat-item {
    display: block;
    float: left;
    padding: 0 0 0 25px;
}
#Main-Nav .cat-item > a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
}
.sub-nav {
    display: none;
    width: auto;
    height: 113px;
    position: absolute;
    top: 31px;
    z-index: 100;
    -moz-box-shadow: 0 6px 13px -9px #000;
    -webkit-box-shadow: 0 6px 13px -9px #000;
    box-shadow: 0px 6px 13px -9px #000;
    right: 0px;
}
#Main-Nav .pointer {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: #ccc #ccc -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    display: block;
    height: 6px;
    left: 49%;
    position: absolute;
    right: 50%;
    top: 0px;
    width: 12px;
    border-radius: 90px 90px 0 0;
    -moz-border-radius: 90px 90px 0 0;
    -webkit-border-radius: 90px 90px 0 0;
}
.sub-nav > div {
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #e8e8e8 100%);
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e8e8e8 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e8',GradientType=0 );
}
#Main-Nav .sub-nav .image-nav {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: #ccc #ccc -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    /*height: 74px;*/
    /*margin-top: 5px;*/
    margin-top: 7px;
    padding-top: 10px;
    width: 100%;
}
#Main-Nav .sub-nav .link-nav {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #cccccc url("/images/showcase/ui/nav/sub/border-bottom-bg.gif") repeat-x scroll 0 0;
    border-color: -moz-use-text-color #ccc #ccc;
    border-image: none;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    clear: both;
    height: 35px;
    margin: 0 auto;
    width: 100%;
}
#Main-Nav .sub-nav .link-nav .items {
    padding: 10px;
    text-align: center;
}
#Main-Nav .sub-nav .link-nav .items .item {
    display: inline;
    text-align: center;
    padding: 0 8px;
}
#Main-Nav .sub-nav .link-nav .items .item a {
    font-weight: bold;
    color: #003366;
    text-transform: none;
}
/*    span.arrow {
        color: #c00;
        font: bold 14px/0.6em Arial,sans-serif;
        position: relative;
        top: 0px;
    }*/
#Main-Nav .sub-nav .image-nav .items {
    width: 100%;
    background: url("/images/showcase/ui/nav/sub/default-bg.gif") repeat-x;
    float: left;
}
#Main-Nav .sub-nav .image-nav .items .item {
    float: left;
    height: 63px;
    cursor: pointer;
}
#Main-Nav .sub-nav .image-nav .items .item.f {
    background: transparent url("/images/showcase/ui/nav/sub/border-bottom-left.gif") no-repeat bottom left;
}
#Main-Nav .sub-nav .image-nav .items .item.sep {
    background: transparent url("/images/showcase/ui/nav/sub/grad-fade-up-sep.gif") no-repeat right bottom;
    width: 1px;
}
#Main-Nav .sub-nav .image-nav .items .item a {
    display: table;
    padding: 0 10px 0 0;
    height: 62px;
    font-size: 1em;
    line-height: 1.2em;
    font-weight: bold;
    text-transform: none;
    color: #000;
    *display: block;
}
#Main-Nav .sub-nav .image-nav .items .item a span {
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
    *float: left: ;
}
img {
    border: none;
}
#Main-Nav .sub-nav .image-nav .items .item a span img {
    padding: 0 3px 0 15px;
    cursor: pointer;
}
#Main-Nav #Sub-Nav-3 {
    height: 79px;
}
#Main-Nav #Nav-Row-1 {
    float: right;
    position: relative;
}
#Main-Nav .win-rec {
    color: #fff;
    font-weight: bold;
    float: left;
    padding: 15px 30px 0 0;
}
#Main-Nav #Quick-Links {
    float: left;
    padding: 17px 18px 0 0;
}
/*    #searchBox, #shoppingBag {
        padding-top: 11px;
    }*/
#searchBox {
    float: left;
    position: relative;
    top: 10px;
}
/*    #shoppingBag {
        float: right;
    }*/
fieldset, abbr, acronym {
    border: 0;
}
/*   #shoppingBag #shoppingBagSubmit {
       float: right;
       width: 61px;
       height: 23px;
       display: block;
       margin-left: 1px;
       border-top: 1px solid #6c93b3;
       border-bottom: 1px solid #002849;
       border-left: 1px solid #366994;
       border-right: 1px solid #003663;
       background: #00447c;
       background: -moz-linear-gradient(top,  #00447c 0%, #003a69 100%);
       background: -webkit-linear-gradient(top,  #00447c 0%,#003a69 100%);
       background: linear-gradient(to bottom,  #00447c 0%,#003a69 100%);
       filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00447c', endColorstr='#003a69',GradientType=0 );
       -moz-box-shadow: 1px 1px 3px #363535;
       -webkit-box-shadow: 1px 1px 3px #363535;
       box-shadow: 1px 1px 3px #363535;
   }
   #shoppingBag #shoppingBagSubmit > span {
       cursor: pointer;
       display: block;
       background: rgba(0, 0, 0, 0) url("/images/showcase/ui/nav/shopping-bag-icon.png") no-repeat scroll center center;
       border: medium none;
       color: #fff;
       cursor: pointer;
       font-size: 1em;
       height: 100%;
       padding: 4px 10px 0 0;
       font-weight: bold;
       text-align: right;
       width: 100%;
   }*/
/*    #shoppingBagList {
        display: none;
        right: 0px;
        position: absolute;
        top: 43px;
        z-index: 17;
        -moz-box-shadow: 0 6px 13px -9px #000;
        -webkit-box-shadow: 0 6px 13px -9px #000;
        box-shadow: 0px 6px 13px -9px #000;
    }
    #shoppingBagList .pointer {
        background: #fefefe;
        left: auto;
        right: 23px;
        top: -5px;
    }*/
/*    table {
        border-collapse: collapse;
        border-spacing: 0px;
    }*/
/*    #shoppingBagList table {
        background: #fff;
        border: 1px solid #ccc;
    }
    #shoppingBagList tr {
        position: relative;
        display: block;
    }
    #shoppingBagList th, #shoppingBagList td {
        padding: 7px;
    }
    #shoppingBagList td {
        border-bottom: 1px solid #ccc;
    }
    #shoppingBagList th, #shoppingBagList td, #shoppingBagList p, #shoppingBagList a {
        font-weight: bold;
    }
    select, input[type='text'], textarea {
        border: 1px solid #d7d7d7;
        color: #666;
        font-size: 12px;
        padding: 5px;
        border: 1px solid #ccc;
        font-size: 1em;
    }*/
/*    #gSrch #SearchTextTopNav {
        width: 132px;
        font-size: 12px;
        padding: 0 5px;
        float: left;
        height: 23px;
        border: 1px solid #ccc;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        background: rgb(242,242,242);
        background: -moz-linear-gradient(top,  rgba(242,242,242,1) 0%, rgba(255,255,255,1) 99%);
        background: -webkit-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(255,255,255,1) 99%);
        background: linear-gradient(to bottom,  rgba(242,242,242,1) 0%,rgba(255,255,255,1) 99%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=0 );
        -moz-box-shadow: 1px 1px 3px #363535;
        -webkit-box-shadow: 1px 1px 3px #363535;
        box-shadow: 1px 1px 3px #363535;
    }*/
#gSrch #search_query {
    width: 192px;
    font-size: 12px;
    padding: 0 5px;
    float: left;
    height: 23px;
    border: 1px solid #ccc;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background: rgb(242,242,242);
    background: -moz-linear-gradient(top,  rgba(242,242,242,1) 0%, rgba(255,255,255,1) 99%);
    background: -webkit-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(255,255,255,1) 99%);
    background: linear-gradient(to bottom,  rgba(242,242,242,1) 0%,rgba(255,255,255,1) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=0 );
    -moz-box-shadow: 1px 1px 3px #363535;
    -webkit-box-shadow: 1px 1px 3px #363535;
    box-shadow: 1px 1px 3px #363535;
}
#gSrch #SearchBtn {
    float: right;
    width: 48px;
    height: 23px;
    display: block;
    cursor: pointer;
    margin-left: 1px;
    border-top: 1px solid #d8d89d;
    border-bottom: 1px solid #4d4d00;
    background: rgb(173,173,55);
    background: -moz-linear-gradient(top,  rgba(173,173,55,1) 0%, rgba(110,110,0,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(173,173,55,1) 0%,rgba(110,110,0,1) 100%);
    background: linear-gradient(to bottom,  rgba(173,173,55,1) 0%,rgba(110,110,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adad37', endColorstr='#6e6e00',GradientType=0 );
    -moz-box-shadow: 1px 1px 3px #363535;
    -webkit-box-shadow: 1px 1px 3px #363535;
    box-shadow: 1px 1px 3px #363535;
}
#gSrch #SearchBtn input {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0) url("/images/showcase/ui/nav/search-icon.png") no-repeat scroll center center;
    border: none;
    cursor: pointer;
    box-shadow: none;
    cursor: pointer;
    margin: 0;
    top: 0;
}
#Main-Nav #Quick-Links > div {
    float: left;
    padding: 0 6px 0 0;
    margin-right: 6px;
    border-right: 1px solid #fff;
}
#Main-Nav #Quick-Links > div.l {
    border: medium none;
    margin-right: 0px;
    padding-right: 0px;
}
#Main-Nav #Quick-Links > div > a {
    display: block;
    font-size: 0.95em;
    line-height: 1em;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
#Main-Nav #Quick-Links #Contact-Us .sub-nav {
    height: auto;
    top: 37px;
}
#Main-Nav #Quick-Links #Contact-Us .sub-nav > div {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
}
#Main-Nav #Quick-Links #Contact-Us > div > div > p {
    padding-bottom: 10px;
}
#Main-Nav #Quick-Links #Contact-Us > div > div > p > span > span {
    display: block;
}
#Toshiba-Logo img {
    width: 250px;
}
/* CSS styles for Parts Catalog table */
.pcth {
   background-color : #dddddd;
   border-left      : 1px solid #ffffff;
   font-weight      : bold;
   padding-left     : 3px;
   color            : #666;
}

.pctd {
   border-left      : 1px solid #ffffff;
   padding-left     : 3px;
}




