/**
* CSS classes for jQuery plugin spinButton
* Spinner image creator widget at http://www.ajaxload.info/
* or http://www.chimply.com/Generator
**/
.buttonSpinner {
	background-image: url('arrows_White.gif');
	background-position: center;
	background-repeat: no-repeat;
}
.buttonSpinnerButtonTextVisible {
	visibility: visible;
}
.buttonSpinnerButtonTextInvisible {
	visibility: hidden;
}
.buttonSpinnerDark {
	background-image: url('arrows_Grey.gif');
	background-position: center;
	background-repeat: no-repeat;
}
.buttonSpinnerRedOnDark {
	background-image: url('arrows_Red_bg_Black.gif');
	background-position: center;
	background-repeat: no-repeat;
}
.buttonSpinnerRedOnWhite {
	background-image: url('arrows_Red_bg_White.gif');
	background-position: center;
	background-repeat: no-repeat;
}
